<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link rel="stylesheet" href="style.css">
    <title>Temperature Converter</title>
</head>
<body>
    <div id="wrapper">
        <h1>Temperature Converter</h1>
        <form action="/convert" method="post">
            <input type="number" name="userInput" required>
            <button type="submit" name="buttonType" value="ctof">C to F</button>
            <button type="submit" name="buttonType" value="ftoc">F to C</button>
        </form>
        <div id="result">
            <p><%= result %></p>
        </div>

    </div>
</body>
</html>